.video-full-screen {
    height: 100vh;
}

#user_info_bar {
    display: block;
    height: 100%;
    padding: 20px 5px 0 5px;
    overflow-y: scroll;
}

.card {
    width: 100%;
}

.card-body {
    padding: 5px 10px;
}

.card-title {
    margin: 5px 0 5px 0;
    font-size: 15px;
}

.card-text {
    margin-bottom: 5px;
    font-size: 10px;
}

.card-btn {
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
}

.card-img {
    background: dimgrey;
    width: 100px;
    height: 100px;
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2d2d2d;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}