<div id="card" class="card">
    <div class="row no-gutters">
        <div class="col d-flex align-items-center justify-content-center">
            <img src="" class="card-img" alt="user_img">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">Tom</h5>
                <p class="card-text">Student</p>
                <p class="card-text">Computer Science & Information Engineering</p>
                <p class="card-text">ID: 406410927</p>
                <p class="card-text">Fri Mar 20 2020 17:51:54 GMT+0800 (台北標準時間)</p>
                <a href="#" class="btn btn-primary card-btn">More</a>
            </div>
        </div>
    </div>
</div>