<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/recognize.css">

    <!--jQuery, Popper.js, Bootstrap.js, Socket.io.js and fontawesome.js-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4afd8e5442.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid p-0 vw-100">
    <div class="row m-0 vh-100">
        <!-- video container-->
        <div id="video_container" class="col-md-10 p-0 d-flex align-items-center justify-content-center">
            <!-- web cam video -->
            <img id="video" class="img-fluid" alt="video" src="{{ url_for('video_feed') }}">
        </div>

        <!-- user info bar -->
        <div id="user_info_bar" class="col-md-2 p-0">
            <!-- user card -->

        </div>
    </div>
</div>


<script>
    /* socket */
    var socket = io();

    // connect event handler
    socket.on('connect', function () {
        socket.emit('connect event', {data: 'I\'m connected!'});
    });

    // log message event from server
    socket.on('log_msg', function (data) {
        console.log(data.data);
    });

    // receive append user card event from server
    socket.on('append_user_card', function (data) {
        console.log(data.data);
        $(card_modal).ready(function(){
            $("h5").text(data.data);
            $('#card').attr('id', data.data);
        });
        $("#user_info_bar").prepend($(card_modal));
    });


    // receive remove user card event from server
    socket.on('remove_user_card', function (data) {
        console.log(data.data);
        $("#" + data.data).remove();
    });


    var card_modal = "<!-- user card -->\n" +
        "<div id=\"card\" class=\"card mb-3\">\n" +
        "    <div class=\"row no-gutters\">\n" +
        "        <div class=\"col-xl-5 d-flex align-items-center justify-content-center\">\n" +
        "            <img src=\"\" class=\"card-img\" alt=\"user_img\">\n" +
        "        </div>\n" +
        "        <div class=\"col-xl-7\">\n" +
        "            <div class=\"card-body\">\n" +
        "                <h5 class=\"card-title\">Tom</h5>\n" +
        "                <p class=\"card-text\">Birth: 1999/01/01</p>\n" +
        "                <p class=\"card-text\">City: Taipei</p>\n" +
        "                <p class=\"card-text\">Brief: nothing to say</p>\n" +
        "                <a href=\"#\" class=\"btn btn-primary card-btn\">More</a>\n" +
        "            </div>\n" +
        "        </div>\n" +
        "    </div>\n" +
        "</div>";

</script>
</body>
</html>