<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-5 d-flex align-items-center">
            <img src="" class="card-img" alt="user_img">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Birth: 1999/01/01</p>
                <p class="card-text">City: Taipei</p>
                <p class="card-text">Brief: nothing to say</p>
                <a href="#" class="btn btn-primary card-btn">More</a>
            </div>
        </div>
    </div>
</div>