<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--CSS-->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/recognize.css">

    <!--jQuery, Popper.js, Bootstrap.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>

<h1>Capture face</h1>
<h2>face number: 0</h2>

<img src="{{ url_for('video_feed') }}">
<a id="capture_btn" class="btn btn-primary" href="#capture">capture</a>
<a id="finish_btn" class="btn btn-primary" href="#finish">finish</a>

<script>

    $("#capture_btn").click(function () {
        $.getJSON("/capture", function (data) {
            console.log(data);
            $("h2").text("face number: " + data.capture_num);

        });
    });

    $("#finish_btn").click(function () {
        $.getJSON("/capture_finish", function (data) {
            console.log(data);

        });
    });

</script>
</body>
</html>